@font-face {
    font-family: OpenSans;
    src: url('/font/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSansItalic;
    src: url('/font/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: OpenSansCondensedBold;
    src: url('/font/OpenSans_Condensed-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: SourceCodePro;
    src: url('/font/SourceCodePro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --colour-bg: #f2f6f9; /* background */
    --colour-fg: #333333; /* foreground */
    --colour-hl: #f98a05; /* highlight */
    --colour-ll: #909096; /* lowlight */
    --colour-ta: #e6eaed; /* table alt */
    --colour-th: #f9e3c7; /* table hover */

    --font-normal: OpenSans,
                   -apple-system,
                   BlinkMacSystemFont,
                   avenir next,
                   avenir,
                   segoe ui,
                   helvetica neue,
                   Adwaita Sans,
                   Cantarell,
                   Ubuntu,
                   roboto,
                   noto,
                   helvetica,
                   arial,
                   sans-serif;

    --font-quote: OpenSansItalic,
                  Iowan Old Style,
                  Apple Garamond,
                  Baskerville,
                  Times New Roman,
                  Droid Serif,
                  Times,
                  Source Serif Pro,
                  serif,
                  Apple Color Emoji,
                  Segoe UI Emoji,
                  Segoe UI Symbol;

    --font-title: OpenSansCondensedBold,
                  var(--font-normal);

    --font-mono: SourceCodePro,
                 Menlo,
                 Consolas,
                 Monaco,
                 Adwaita Mono,
                 Liberation Mono,
                 Lucida Console,
                 monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--colour-bg);
    color: var(--colour-fg);
    font-family: var(--font-normal);
}

h1, h2, h3 {
    font-family: var(--font-title);
    text-transform: uppercase;
    margin-bottom: .1em;
}

h1 {
    font-size: 2em;
    letter-spacing: .04em;
    word-spacing: .075em;
}

h2 {
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: var(--colour-hl);
}

a:hover {
    text-decoration: underline;
}

p, li {
    text-align: justify;
    margin-bottom: 1.75em;
    line-height: 1.5em;
    word-spacing: .05em;
    letter-spacing: .01em;

    code {
        background: var(--colour-fg);
        color: var(--colour-bg);
        border-radius: 3px;
        padding: .1em .4em;
    }
}

hr {
    border: none;
    border-bottom: 2px dotted var(--colour-hl);
    margin: 1.5em 2em;
}

pre {
    margin: 1.5em 1em;
    padding: 1em;
    background: var(--colour-fg);
    color: var(--colour-bg);
    border-radius: 3px;
    line-height: 1.4em;
    overflow: scroll;
}

code {
    font-family: var(--font-mono);
}

blockquote {
    margin: 1em;
    border-left: 2px dotted var(--colour-hl);
    font-family: var(--font-quote);

    p {
        margin-left: 1em;
    }
}

#main-header {
    margin: 2em 0 1em 0;

    h1 {
        font-size: 4.25em;
        letter-spacing: .1em;
        word-spacing: .2em;
        text-align: center;
    }
}

nav {
    padding: .25em 0;
    display: flex;
    justify-content: center;
    font-family: var(--font-title);
    text-transform: uppercase;
    font-size: 1.75em;
    letter-spacing: .1em;
    margin-bottom: .5em;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        margin: 0;
    }

    li {
        display: inline-block;
        margin: 0 .1em;
    }

    a {
        display: inline-block;
        padding: .5em 1.25em;
        width: 6.5em;
        text-align: center;
        position: relative;
    }

    a:hover {
        text-decoration: none;
    }

    a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: var(--colour-hl);
        visibility: hidden;
        transform: scaleX(0);
        transition: all .3s ease-in-out 0s;
    }

    a:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }
}

article {
    margin: 0 auto;
    padding: 0 1em;
    width: 100%;
    max-width: 820px;

    li {
        text-align: justify;
    }
}

header {
    margin-bottom: 1.5em;

    h1 {
        font-size: 2.5em;
    }

    p {
        margin: .25em 0;
        font-size: .8em;
        color: var(--colour-ll);
    }
}

ul, ol {
    margin-left: 1em;
    margin-bottom: 1em;
}

ul {
    list-style-type: square;
}

li::marker {
    color: var(--colour-hl);
}

li {
    margin-bottom: .2em;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0;
    font-size: .8em;
    color: var(--colour-ll);

    p {
        margin-bottom: .5em;
        display: inline-block;
    }
}

.footnote {
    font-size: .8em;
    margin: 0 2em;
}

table {
    margin: 1.5em auto;
    table-layout: fixed;
    border-collapse: collapse;

    thead {
        border-bottom: 2px solid var(--colour-hl);
    }

    tbody {
        tr:nth-child(odd) {
            background: var(--colour-ta);
        }

        tr:hover {
            background: var(--colour-th);
        }
    }

    th, td {
        padding: .25em .75em;
    }
}

@media screen and (width <= 600px) {
    #main-header {
        h1 {
            font-size: 3em;
        }
    }

    nav {
        font-size: 1.5em;

        ul, li {
            display: block;
        }

        a {
            padding: .1em;
        }
    }
}
