:root {
    --colour-bg: #f2f6f9; /* background */
    --colour-fg: #333333; /* foreground */
    --colour-hl: #f98a05; /* highlight */
    --colour-ll: #909096; /* lowlight */
    --colour-ta: #e6eaed; /* table alt */
    --colour-th: #f9e3c7; /* table hover */

    --font-normal: -apple-system,
                   BlinkMacSystemFont,
                   avenir next,
                   avenir,
                   segoe ui,
                   helvetica neue,
                   Adwaita Sans,
                   Cantarell,
                   Ubuntu,
                   roboto,
                   noto,
                   helvetica,
                   arial,
                   sans-serif;

    --font-quote: Iowan Old Style,
                  Apple Garamond,
                  Baskerville,
                  Times New Roman,
                  Droid Serif,
                  Times,
                  Source Serif Pro,
                  serif,
                  Apple Color Emoji,
                  Segoe UI Emoji,
                  Segoe UI Symbol;

    --font-title: var(--font-normal);

    --font-mono: Menlo,
                 Consolas,
                 Monaco,
                 Adwaita Mono,
                 Liberation Mono,
                 Lucida Console,
                 monospace;
}

body {
    max-width: 650px;
    margin: 2em auto;
    background: var(--colour-bg);
    color: var(--colour-fg);
    font-family: var(--font-normal);
    font-size: 1.1em;
}

h1, h2, h3 {
    font-family: var(--font-title);
    line-height: 1.2em;
}

a {
    text-decoration: none;
    color: var(--colour-hl);
}

a:hover {
    text-decoration: underline;
}

code {
    font-family: var(--font-mono);
    font-weight: bold;
    font-size: .9em;
}

#main-header {
    font-size: 1.6em;
    text-align: center;

    h1 {
        margin: 0;
    }
}

nav {
    display: flex;
    justify-content: center;
    font-family: var(--font-title);
    font-size: 1.1em;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        margin: 0;
    }

    a {
        display: inline-block;
        padding: 1em 2em;
    }
}

article {
    text-align: justify;

    header {
        h1 {
            margin-bottom: 0;
        }

        p {
            font-size: .8em;
            color: var(--colour-ll);
            margin-top: 0;
        }
    }

    p, li {
        line-height: 1.4em;
    }

    li::marker {
        color: var(--colour-hl);
    }

    footer {
        display: flex;
        justify-content: space-between;
        font-size: .8em;
        color: var(--colour-ll);

        p {
            margin-bottom: .5em;
        }
    }

    hr {
        border: none;
        border-bottom: 2px dotted var(--colour-hl);
        margin: 1.75em 2em;
    }

    .footnote {
        font-size: .8em;
    }

    blockquote {
        margin: 1em;
        border-left: 2px dotted var(--colour-hl);

        p {
            margin-left: 1em;
            font-style: oblique;
        }
    }

    pre {
        margin: 0 1em;
        overflow: scroll;
    }
}

table {
    margin: 1.5em auto;
    table-layout: fixed;
    border-collapse: collapse;

    thead {
        border-bottom: 2px solid var(--colour-hl);
    }

    tbody {
        tr:nth-child(odd) {
            background: var(--colour-ta);
        }

        tr:hover {
            background: var(--colour-th);
        }
    }

    th, td {
        padding: .25em .75em;
    }
}

@media screen and (width <= 600px) {
    nav {
        ul, li {
            display: block;
        }
    }
}
