---
---

@import "base";

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    src: url(/assets/fonts/RobotoCondensed-Bold-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url(/assets/fonts/OpenSans-Regular-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: normal;
    src: url(/assets/fonts/SourceCodePro-Regular.otf.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

html {
    line-height: 1.6em;
    font-size: 1.05em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #f2f6f9;
    color: #151517;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    line-height: 1.6em;
    color: #444;
}

#main {
    background: #000e19;
    background: linear-gradient(0deg, #000e19 0%, #00070f 60%);
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.screen {
    max-width: 820px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    padding: 25px 15px;
}

#splash {
    text-align: center;
}

#splash > h1, #splash > h2 {
    text-shadow: 0px 0px 4px #000e19;
    color: #f2f6f9;
}

#splash > h1 {
    font-size: 5em;
    word-spacing: 0.2em;
    letter-spacing: 0.035em;
}

#splash > h2 {
    font-size: 1.25em;
    letter-spacing: 0.4em;
    word-spacing: 0.6em;
    margin-top: -1rem;
    margin-bottom: 0.75rem;
}

#splash > ul {
    text-transform: uppercase;
    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    letter-spacing: 0.05em;
    margin-top: 1rem;
}

#splash > ul > li {
    display: inline-block;
    margin: 0 0.1em;
}

#splash > ul > li > a {
    color: #f98a05;
    padding: 10px 15px;
    width: 12rem;
    display: inline-block;
    text-decoration: none;
    position: relative;
    text-shadow: 0px 0px 4px #000e19;
}

#splash > ul > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #f98a05;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#splash > ul > li > a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.content-header {
    position: relative;
}

.content-header > h1 {
    font-size: 3em;
    margin-bottom: 0.25rem;
    color: #444;
}

.content-header > a {
    text-decoration: none;
    color: #f98a05;
    font-size: 2.25em;
    display: inline-block;
    position: absolute;
    top: 1.15rem;
    right: 0;
}

.content p {
    margin-bottom: 1.5rem;
    word-spacing: 0.15rem;
    letter-spacing: 0.01rem;
}

.content p > a, .content li > a, .post-thumb > a {
    color: #f98a05;
    text-decoration: none;
}

.content p > a:hover, .content li > a:hover, .post-thumb > a:hover {
    text-decoration: underline;
}

#about img {
    max-width: 35%;
    border-radius: 4px;
    float: right;
    margin-left: 1.75rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#about p:first-of-type {
    margin-top: 0.6rem;
}

.content ul {
    list-style-type: square;
    margin-left: 1.5rem;
}

.content ul > li {
    margin-bottom: 0.5rem;
    word-spacing: 0.15rem;
    letter-spacing: 0.01rem;
}

.content ul > li::marker {
    color: #f98a05;
}

img.post-banner {
    width: 100%;
    object-fit: cover;
    height: 250px;
    border-radius: 4px;
    margin: 1rem 0;
}

p.post-info {
    margin: 0;
    color: #aaa;
    font-size: 0.85em;
}

p.post-info i {
    margin-right: 0.1rem;
}

span.post-date {
    margin-left: 0.5rem;
}

p.read-more {
    text-align: right;
    margin-top: -1.5rem;
}

hr {
    border: none;
    border-top: 2px dotted #aaa;
    margin: 2rem 0;
}

.content-wrapper {
    max-width: 820px;
    margin: 0 auto;
}

.blog-posts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.post-thumb {
    width: 32%;
    display: inline-block;
    padding: 0.1rem;
    margin: 1.5rem 0;
}

.post-thumb-img {
    width: 100%;
    object-fit: cover;
    height: 150px;
    border-radius: 4px;
}

.post-thumb h3 {
    color: #f98a05;
}

#navbar {
    width: 100%;
    background: #000e19;
    color: #f2f6f9;
    transition: all 0.25s ease-in-out;
}

#navbar > .content-wrapper {
    display: flex;
    justify-content: space-between;
}

#navbar.navbar-fixed {
    position: fixed;
}

#navbar img {
    height: 3.5rem;
    margin: 0.25rem 0;
}

#navbar a {
    text-decoration: none;
    line-height: 1em;
}

#navbar ul {
    text-transform: uppercase;
    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar ul > li {
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.5rem 1.25rem;
}

#navbar ul > li > a {
    color: #f98a05;
    display: inline-block;
}

#navbar ul > li > a:hover {
    text-decoration: underline;
}

#footer {
    text-align: center;
    margin: 1.5rem 0;
    font-size: 0.8rem;
    color: #aaa;
}

h1.post-title {
    font-size: 3em;
}

.highlighter-rouge {
    margin: 1.5rem 0;
}

.highlighter-rouge > .highlight {
    border-radius: 4px;
    padding: 1.5rem;
}

pre.highlight {
    line-height: 1.75em;
}

code {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
}

@media screen and (max-width: 768px) {
    #splash > ul > li {
        display: block;
        margin: 0.1em 0;
    }

    #splash > h1 {
        font-size: 3.5em;
    }

    #splash > h1 > span::before {
        content: "\00000a";
        white-space: pre;
    }

    #about img {
        max-width: 100%;
        margin-right: 0;
    }

    .post-thumb {
        width: 100%;
    }
}
