<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        {% include head_common.html %}

        <link rel="stylesheet" href="{{ "/assets/css/base16-dark.css" | relative_url }}">

        <title>{{ page.title }} - {{ site.title }}</title>
    </head>
    <body>
        {% include navbar.html %}
        <div class="content-wrapper" id="main-content">
            <div class="content">
                <h1 class="post-title">
                    <span>{{ page.title }}</span>
                    <a class="github-link" href="{{ page.github }}" target="_blank"><i class="fa-brands fa-github"></i></a>
                </h1>
                <img class="post-banner" src="{{ page.banner }}" />
                {{ content}}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
